In [1]:
#importamos la librería pandas
import pandas as pd

Cargo mis datasets de la carpeta /Datasets:

In [2]:
amazon = pd.read_csv('./Datasets/amazon_prime_titles.csv')
disney = pd.read_csv('./Datasets/disney_plus_titles.csv')
hulu = pd.read_csv('./Datasets/hulu_titles.csv')
netflix = pd.read_json('./Datasets/netflix_titles.json')

### ANALISIS EXPLORATORIO DE DATOS

In [3]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

In [4]:
disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [5]:
hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

In [6]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 894.5+ KB

In [7]:
amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

# PROCESO DE ETL

In [8]:
#Agregamos una columna extra a cada dataframe, esto nos ayudará a identificar cada dataframe al momento de combinar todos datasets.
amazon['platform']='amazon'
disney['platform']='disney'
hulu['platform']='hulu'
netflix['platform']='netflix'

In [9]:
# Combinamos todos los dataframes en un solo
df = pd.concat([amazon, disney, hulu, netflix])

In [11]:
#Quitamos el indice que tiene el df combinado, para tener uno nuevo
df = df.reset_index()

In [13]:
df

,index,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon
1,1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon
2,2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,amazon
3,3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",amazon
4,4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,amazon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",netflix
22994,8803,s8804,TV Show,Zombie Dumb,None,None,None,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",netflix
22995,8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,netflix
22996,8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",netflix
22997,8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,netflix

In [12]:
df = df.drop(columns=['index', 'show_id'])

In [13]:
df.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon
1,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon
2,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,amazon
3,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",amazon
4,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,amazon

In [14]:
df['platform'].value_counts()

amazon     9668
netflix    8807
hulu       3073
disney     1450
Name: platform, dtype: int64

### Consigna #1

Máxima duración según tipo de film (película/serie), por plataforma y por año: El request debe ser: get_max_duration(año, plataforma, [min o season])

In [15]:
#Necesito de las columnas: release_year, platform y duration

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          22998 non-null  object
 1   title         22998 non-null  object
 2   director      14739 non-null  object
 3   cast          17677 non-null  object
 4   country       11499 non-null  object
 5   date_added    13444 non-null  object
 6   release_year  22998 non-null  int64
 7   rating        22134 non-null  object
 8   duration      22516 non-null  object
 9   listed_in     22998 non-null  object
 10  description   22994 non-null  object
 11  platform      22998 non-null  object
dtypes: int64(1), object(11)
memory usage: 2.1+ MB

In [14]:
#separamos a la columna 'duration' de nuestro df en dos columnas

duration = df['duration'].str.split(' ', expand=True)

In [15]:
#agregamos nombre a las dos columnas que recien se crearon
duration.columns=['duration_time', 'min/season']

In [16]:
duration

      duration_time min/season
0               113        min
1               110        min
2                74        min
3                69        min
4                45        min
...             ...        ...
22993           158        min
22994             2    Seasons
22995            88        min
22996            88        min
22997           111        min

[22998 rows x 2 columns]

In [17]:
duration.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   duration_time  22516 non-null  object
 1   min/season     22516 non-null  object
dtypes: object(2)
memory usage: 359.5+ KB

In [18]:
# Cambio el tipo de dato de la columna duration_time para poder cuantificarla y lo asignamos a una Serie

duration_time = pd.to_numeric(duration.duration_time)

In [19]:
duration['min/season'].value_counts()

min        15999
Season      4183
Seasons     2334
Name: min/season, dtype: int64

In [20]:
#combinamos las dos categorías Season y Seasons en una sola

min_season = duration['min/season'].replace({'Season':'season', 'Seasons':'season'})

In [21]:
#combinamos ambas series 'duration' y 'min_season'
duration = pd.concat([duration_time, min_season], axis=1)

In [22]:
duration

       duration_time min/season
0              113.0        min
1              110.0        min
2               74.0        min
3               69.0        min
4               45.0        min
...              ...        ...
22993          158.0        min
22994            2.0     season
22995           88.0        min
22996           88.0        min
22997          111.0        min

[22998 rows x 2 columns]

In [23]:
#combino mi dataframe que ya tiene todas las plataformas con mi nuevo dataframe 'duration'
df = pd.concat([df, duration], axis=1)

In [24]:
df

,index,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform,duration_time,min/season
0,0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon,113.0,min
1,1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon,110.0,min
2,2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,amazon,74.0,min
3,3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",amazon,69.0,min
4,4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,amazon,45.0,min
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",netflix,158.0,min
22994,8803,s8804,TV Show,Zombie Dumb,None,None,None,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",netflix,2.0,season
22995,8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,netflix,88.0,min
22996,8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",netflix,88.0,min
22997,8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,netflix,111.0,min

In [28]:
df = df.drop(columns=['index', 'show_id'])

In [29]:
df

,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,platform,duration_time,min/season
0,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,"Comedy, Drama",A small fishing village must procure a local d...,amazon,113.0,min
1,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon,110.0,min
2,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,amazon,74.0,min
3,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,Documentary,"Pink breaks the mold once again, bringing her ...",amazon,69.0,min
4,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,amazon,45.0,min
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",netflix,158.0,min
22994,TV Show,Zombie Dumb,None,None,None,"July 1, 2019",2018,TV-Y7,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",netflix,2.0,season
22995,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,netflix,88.0,min
22996,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",netflix,88.0,min
22997,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,netflix,111.0,min

### Ya con los datos limpios, procedemos a realizar la consulta

In [31]:
# primero se hace un filtro por plataforma, luego por movie/season y finalmente por año, buscamos en la columna 'duration_time' el valor maximo y le pasamos el índice a la función loc, finalmente a dicha función solo le pedimos el titulo de la pelicula o serie

df.loc[df[(df['platform']=='hulu')][df['type']=='TV Show'][df['release_year']==2018]['duration_time'].idxmax()]['title']

C:\Users\Nohemí\AppData\Local\Temp\ipykernel_13444\728647952.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.loc[df[(df['platform']=='hulu')][df['type']=='TV Show'][df['release_year']==2018]['duration_time'].idxmax()]['title']

'When Sharks Attack'

### Consigna #2

Cantidad de películas y series (separado) por plataforma El request debe ser: get_count_plataform(plataforma)

In [31]:
# Necesito las columnas 'type' y 'platform' de mi dataframe

In [32]:
df

,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,platform,duration_time,min/season
0,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,"Comedy, Drama",A small fishing village must procure a local d...,amazon,113.0,min
1,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon,110.0,min
2,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,amazon,74.0,min
3,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,Documentary,"Pink breaks the mold once again, bringing her ...",amazon,69.0,min
4,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,amazon,45.0,min
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",netflix,158.0,min
22994,TV Show,Zombie Dumb,None,None,None,"July 1, 2019",2018,TV-Y7,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",netflix,2.0,season
22995,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,netflix,88.0,min
22996,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",netflix,88.0,min
22997,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,netflix,111.0,min

In [33]:
# Buscamos en nuestro dataframe por plataforma y luego solo hacemos uso de la funcion 'value_counts()', esta función devuelve una serie asi que procedemos a convertirla en una lista
a = df[df['platform']=='netflix']['type'].value_counts().to_frame().to_dict()

In [34]:
b = {}
for i,j in a.items():
    b.update(j)

In [35]:
b

{'Movie': 6131, 'TV Show': 2676}

## transformo mi dataframe ya limpio a un nuevo csv

In [ ]:
df.to_csv('./Datasets/combined_platforms.csv')

In [ ]:
genero = new_df['listed_in']

In [ ]:
genero = new_df['listed_in'].str.split(',')

In [ ]:
genero

0                                         [Comedy,  Drama]
1                                  [Drama,  International]
2                              [Action,  Drama,  Suspense]
3                                            [Documentary]
4                                        [Drama,  Fantasy]
                               ...
22993                   [Cult Movies,  Dramas,  Thrillers]
22994           [Kids' TV,  Korean TV Shows,  TV Comedies]
22995                           [Comedies,  Horror Movies]
22996                [Children & Family Movies,  Comedies]
22997    [Dramas,  International Movies,  Music & Music...
Name: listed_in, Length: 22998, dtype: object

In [ ]:
lista = []
for i in genero:
    for j in i:
        lista.append(j)

print(len(lista))

48303

In [ ]:
lista_unicos = []
lista_repeticiones = []
def valor_modal(lista):
    
    if len(lista) == 0:
        return None
    for elemento in lista:
        if elemento in lista_unicos:
            i = lista_unicos.index(elemento)
            lista_repeticiones[i] += 1
        else:
            lista_unicos.append(elemento)
            lista_repeticiones.append(1)
    moda = lista_unicos[0]
    maximo = lista_repeticiones[0]
    for i, elemento in enumerate(lista_unicos):
        if lista_repeticiones[i] > maximo:
            moda = lista_unicos[i]
            maximo = lista_repeticiones[i]
    return moda, maximo, len(lista_unicos), len(lista_repeticiones)

In [ ]:
valor_modal(lista)

('Drama', 2658, 204, 204)

In [ ]:
print(lista_unicos)

['Comedy', ' Drama', 'Drama', ' International', 'Action', ' Suspense', 'Documentary', ' Fantasy', 'Fantasy', ' Kids', ' Special Interest', ' Science Fiction', 'Adventure', 'Horror', ' Sports', 'Kids', ' Talk Show and Variety', 'Science Fiction', ' Anime', ' Comedy', 'Arts', ' Entertainment', ' and Culture', 'TV Shows', 'Animation', ' Adventure', ' Animation', 'Anime', 'Music Videos and Concerts', 'Fitness', 'Faith and Spirituality', 'Special Interest', ' Military and War', ' Western', 'Suspense', ' LGBTQ', ' Romance', ' Unscripted', 'Unscripted', ' Documentary', 'Western', ' Faith and Spirituality', ' Young Adult Audience', 'Arthouse', 'Sports', 'Military and War', ' Horror', 'International', ' Music Videos and Concerts', ' Historical', 'Romance', ' Arts', 'Young Adult Audience', 'Talk Show and Variety', 'LGBTQ', ' Arthouse', 'Historical', ' Family', 'Musical', 'Docuseries', ' Music', 'Biographical', 'Action-Adventure', ' Superhero', ' Reality', ' Survival', 'Animals & Nature', ' Docuseries', ' Musical', ' Animals & Nature', ' Coming of Age', 'Lifestyle', 'Movies', 'Coming of Age', 'Concert Film', ' Crime', 'Anthology', 'Reality', ' Medical', 'Family', ' Variety', ' Spy/Espionage', ' Buddy', ' Parody', ' Game Show / Competition', ' Anthology', ' Romantic Comedy', 'Crime', ' Thriller', ' Police/Cop', 'Talk Show', ' Biographical', ' Lifestyle', ' Dance', 'Series', 'Buddy', 'Game Show / Competition', ' Mystery', 'Variety', ' Soap Opera / Melodrama', 'Dance', ' Disaster', 'Music', ' Travel', ' Stand Up', 'Cooking & Food', ' Documentaries', ' Lifestyle & Culture', ' News', 'News', 'Documentaries', ' History', 'History', ' Teen', 'Thriller', 'Health & Wellness', 'Black Stories', 'Latino', ' Latino', ' Late Night', ' Sketch Comedy', ' Classics', ' LGBTQ+', ' Black Stories', 'Classics', 'Adult Animation', ' Sitcom', 'Game Shows', 'Lifestyle & Culture', 'Cartoons', ' Adult Animation', ' Cartoons', ' Game Shows', ' Science & Technology', ' Health & Wellness', 'Mystery', 'Science & Technology', 'International TV Shows', ' TV Dramas', ' TV Mysteries', 'Crime TV Shows', ' International TV Shows', ' TV Action & Adventure', ' Reality TV', ' Romantic TV Shows', ' TV Comedies', 'TV Dramas', ' TV Horror', 'Children & Family Movies', 'Dramas', ' Independent Movies', ' International Movies', 'British TV Shows', 'Comedies', ' Dramas', ' Comedies', ' Crime TV Shows', 'TV Comedies', ' Spanish-Language TV Shows', 'Thrillers', ' Romantic Movies', ' Music & Musicals', 'Horror Movies', ' Sci-Fi & Fantasy', ' TV Thrillers', "Kids' TV", ' Thrillers', 'Action & Adventure', ' TV Sci-Fi & Fantasy', ' Classic Movies', ' Horror Movies', ' Anime Features', 'Reality TV', ' Sports Movies', 'Anime Series', " Kids' TV", 'International Movies', ' Korean TV Shows', 'Sci-Fi & Fantasy', ' Science & Nature TV', ' Teen TV Shows', ' Cult Movies', 'Classic Movies', ' Children & Family Movies', ' Faith & Spirituality', ' LGBTQ Movies', 'Stand-Up Comedy', 'TV Action & Adventure', 'Stand-Up Comedy & Talk Shows', 'Classic & Cult TV', ' Stand-Up Comedy & Talk Shows', 'Anime Features', 'Romantic TV Shows', 'Cult Movies', 'Independent Movies', 'TV Horror', 'Spanish-Language TV Shows', ' Classic & Cult TV', 'Music & Musicals', 'Romantic Movies', 'LGBTQ Movies', ' Stand-Up Comedy', 'TV Sci-Fi & Fantasy', 'Sports Movies']

In [ ]:
lista_unicos_limpio = []
for i in lista_unicos:
    a = i.split(' ')

In [ ]:
agenero = new_df['listed_in'].str.split(',', expand=True)

In [ ]:
genero

,0,1,2,3,4
0,Comedy,Drama,None,None,None
1,Drama,International,None,None,None
2,Action,Drama,Suspense,None,None
3,Documentary,None,None,None,None
4,Drama,Fantasy,None,None,None
...,...,...,...,...,...
22993,Cult Movies,Dramas,Thrillers,None,None
22994,Kids' TV,Korean TV Shows,TV Comedies,None,None
22995,Comedies,Horror Movies,None,None,None
22996,Children & Family Movies,Comedies,None,None,None
22997,Dramas,International Movies,Music & Musicals,None,None

In [ ]:
genero[0].value_counts()

Drama                      2658
Action                     2212
Comedy                     2136
Dramas                     1600
Documentaries              1262
                           ...
Talk Show                     1
Game Show / Competition       1
Variety                       1
Dance                         1
Sports Movies                 1
Name: 0, Length: 96, dtype: int64

In [ ]:
genero[1].value_counts()

 International Movies    1722
 Drama                   1714
 Suspense                 844
 Dramas                   758
 Adventure                658
                         ...
 Superhero                  2
 Parody                     2
 Lifestyle                  2
 Disaster                   1
 Classics                   1
Name: 1, Length: 99, dtype: int64

In [ ]:
# duraciones = new_df['duration'].str.split(' ', expand=True)